<div class="container">
    
    <%= form_for @list, class: "form-inline", url:list_path(@list) do |l| %>
        <div class="form-group" style= "margin-top: 50px;">
            <div class="row">
                <div class="col-md-12">
                    <label for="exampleInputName2">Player1 ID</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                     <%= l.text_field :player1, class: "form-control", id:"exampleInputName2" %>
                </div>
                <div class="col-md-2">
                    <%=l.submit '방만들기' ,class: "btn btn-default"%>
                </div>
           
            </div>
        </div>
    <% end %>
    
    
    
</div>